{% include 'documento/cabezera.html' %}

{% load static %}

<div class="container" style="margin-top: 5%;">
    <div class="card  sombra m-3  pt-3 pb-3" style="width: 100%; margin-top: 10rem; background: #b5d8eb0f;">
        
        <h5 class="tituloppal mt-4 pt-2 pb-2 pe-5 h5">{{noticia.categoria}}</h5>
      
        <div class="card-body">

            <div class="row mt-3" style="justify-content:center ;">
                <div class="float-end">
                  
                    <h2 class="card-title me-4" style="text-align:start  ;"> | {{noticia.titulo.capitalize}}</h2>
      
                    <img src={{noticia.imagenes.url}} class="card-img-top w-50 m-3" style="float:left;" alt="...">
                    <h6 class="card-title" style="color:rgb(114, 111, 111)">
                        {{noticia.fecha.day}}/{{noticia.fecha.month}}/{{noticia.fecha.year}}</h6>
                    <div class="card-text div_noticia">{{noticia.texto|safe}}</div>
                  
                </div>
              
                    
                    
               
               
            </div>
        </div>
        
    </div>
    <div class="ms-3 mt-5">
        <h5 style=" color: rgb(138, 137, 137);" >Comentarios</h5>
        <hr style="height: 1px; color: #0b5184; opacity: 100%;">
            {% include 'comentario/addcomentario.html' %}
            {% include 'comentario/listarcomentario.html' %}
    </div>

</div>
<a href="#" class="volver" style="position:fixed; bottom: 10%; margin-left: 98% ; margin-top: 50% ;"><img src="{% static 'img/flecha.png' %}" alt=""></a>   
{% include 'documento/pie_de_pagina.html' %}
