{% include 'documento/cabezera.html' %}
{% load static %}
{% include 'documento/barra_lateral.html' %}

<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid  ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="padding-right: 55% ;" tid="navbarSupportedContent">
            <ul class="navbar-nav ms-2 mt-2 me-3 mb-0">
                <li class="nav-item gx-1">
                    <a class="nav-link active Fondomenu2 " aria-current="page"
                        href="{% url 'apps.curso:curso' curso  %}">Informacion General</a>
                </li>
                <li class="nav-item dropdown gx-1">
                    <a class="nav-link dropdown-toggle Fondomenu2" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Buscar Fotos
                    </a>
                    <ul class="dropdown-menu FondomenuDesplegable2 border-0 text-center">
                        {% for cur in cursos %}
                        <li><a class="dropdown-item Fondomenu2 "
                                href="{% url 'apps.curso:galeria' cur.nombre %}">{{cur}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if usuario.es_admin %}
                <li class="nav-item gx-1">
                    
                    <a class="nav-link Fondomenu2 " href="/admin/curso/galeria/add/">Agregar Fotos</a>
                </li>
                {% endif%}
            </ul>
        </div>
    </div>
</nav>
<h4 class="tituloppal mt-4  pe-3 pt-1 pb-1" style="width: 50%;">Galieria de Fotos del curso {{curso.nombre.capitalize}}
</h4>


{% if foto %}
<div class="conteiner ms-5 me-5 mt-2 " id="galeria">
    <div class="row ">
        {% for fot in foto %}
        
        <div class=" marcoFoto col-lg-3 col-md-6 col-sm-12 mb-2">
            <a href="{{fot.imagen.url}}"><img class="card-img-top imagen" src="{{fot.imagen.url}}"></a> 
            <div>
                {% if usuario.es_admin %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="d-flex  mt-2 mb-1 " style="justify-content:flex-start">
                        <input class="d-none" value="{{fot.id}}" name="idFoto" type="text">
                        <input class="btn btn-primary" type="submit" value="eliminar" name="eliminar">
                        
                    </div>
                </form>
            </div>

        </div>
        {% endif%}

        {% endfor %}
    </div>
</div>


</div>

<div>

    {% else %}
    <h4>No hay imagenes</h4>
    {% endif%}


</div>
</div>

{% include 'documento/pie_de_pagina.html' %}