{% load static %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel" style="color: #11568798;">Tu sesion</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                {% if validacion == 1 %}
                <div class=" justify-content-center ">
                    <h5 style="color: #0b5184;">¡HOLA {{usuario.nombre.capitalize}}!</h5>

                    <h6 style="color: #516370;">Apellido/s: {{usuario.apellido}}</h6>
                    <h6 style="color: #516370;">Direccion: {{usuario.direccion}}</h6>
                    <h6 style="color: #516370;">DNI: {{usuario.dni}}</h6>
                    <h6 style="color: #516370;">Email: {{usuario.email}}</h6>

                    
                        
                        <input class="btn btn-primary botonesForm mt-3 " id="botonCambiarPassword" type="button" value="Cambiar Contraseña">
                        
                        <div class="d-none " id="cambiarPassword">
                        <form id="formulario_editar_password" method="POST" action="">{% csrf_token %}
                            <div class="mb-3">
                                <input class="form-control" type="password" id="editar_password1"
                                    name="editar_password1" placeholder="Contraseña Nueva " required>
                            </div>
                            <div>
                                <input class="form-control" type="password" id="editar_password2"
                                    name="editar_password2" placeholder="Repetir Contraseña" required>
                                <div class="d-flex  mt-2 mb-1 " style="justify-content: center;">
                                    <input class="btn btn-primary sombra m-3" id="guardarCambios" type="submit" value="Guardar Cambios">
                                </div>
                            </div>
                        </form>
                    </div>

                    <form action="" method="POST"> {% csrf_token %}
                        <input type="number" name="cerrar" id="" class="d-none" value=1>
                        <input class="btn btn-primary botonesForm mt-3" type="submit" value="Cerrar Session">
                    </form>
                </div>
                {% else %}
                <form action="" method="POST"> {% csrf_token %}

                    <div class="mb-3">
                        <input type="number" name="cerrar" id="" class="d-none" value=0>
                        <label for="exampleInputEmail1" class="form-label">Email</label>

                        <input type="email" name="usuario" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico
                            con nadie más.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recuerdame!</label>
                    </div>
                    <div class="class=modal-footer">
                        <input value="Iniciar" type="submit" class="btn btn-primary botonesForm">
                    </div>

                </form>


                <div class="class=modal-footer">
                    <a href="{% url 'formulario' %} " style="text-decoration: none">
                        <input value="Registrarme" type="submit" class="btn btn-secondary botonesForm"
                            data-bs-dismiss="modal">
                    </a>
                </div>
                {%endif%}
            </div>

        </div>
    </div>
    <!-- cierre modal inicio secion-->
</div>

<script>
    formulario_editar_password = document.getElementById('formulario_editar_password')

    password_editar1 = document.getElementById('editar_password1')
    password_editar2 = document.getElementById('editar_password2')


    formulario_editar_password.addEventListener('submit', (e) => {

        if (password_editar1.value !== password_editar2.value) {
            e.preventDefault()
            password_editar1.style = "border-color:red;"
            password_editar1.focus()
        } else {
            password_editar1.style = "border-color:none;"

        }
    });

    btnPassword = document.getElementById('botonCambiarPassword')
    btnPasswordValidacion=true
    btnPassword.addEventListener('click',(e)=>{
       if(btnPasswordValidacion){
        document.getElementById('cambiarPassword').setAttribute('class','')
        btnPasswordValidacion=false
       }else{
        document.getElementById('cambiarPassword').setAttribute('class','d-none')
        btnPasswordValidacion=true
       }

        
        
    });





</script>