{% load static %}
<aside>
          
    <table class="tabla" id="tabla">
        <tr id="tr-flecha">
            <td style="height: 600px;"></td>
        </tr>
        <tbody id="tbody" class="d-none">
            <tr>
                <td class="td-none "><p  class="ps-2 mt-2">Albañil</p></td>
                <td><a href="" ><img class="logoCursos mt-0 " src="{% static 'img/albañil.png' %}" height="100" alt=" logo eletricidad"></a></td>
            </tr>
            <tr>
                <td class="td-none"><p class="ps-2 mt-2">Topografo</p></td>
                <td><a href=""><img class="logoCursos mt-0 " src="{% static 'img/ayud.topografo.png' %}" height="100"alt=" logo eletricidad"></a></td>
            </tr>
            <tr>
                <td class="td-none"><p class="ps-2 mt-2">Computación</p></td>
                <td><a href=""><img class="logoCursos mt-0 " src="{% static 'img/computacion.png' %}" height="100" alt=" logo eletricidad"></a></td>
            </tr>
            <tr>
                <td class="td-none"><p class="ps-2 mt-2">Electricista</p></td>
                <td><a href=""><img class="logoCursos mt-0 " src="{% static 'img/electricista.png' %}" height="100" alt=" logo eletricidad"></a></td>    
            </tr>
            <tr>
                <td class="td-none"><p class="ps-2 mt-2 ">Plomería</p> </td>
                <td><a href=""><img class="logoCursos mt-0 " src="{% static 'img/sanitarista.png' %}" height="100" alt=" logo eletricidad"></a></td>
            </tr>    
            <tr>
                <td class="td-none"><p class="ps-2 mt-2">Soldador</p></td>
                <td><a href=""><img class="logoCursos mt-0 " src="{% static 'img/soldador.png' %}" height="100" alt=" logo eletricidad"></a></td>                               
            </tr>
            <tr>
                <td class="td-none"><p class="ps-2 mt-2">Diseño Asistido</p></td>
                <td><a href=""></a><img class="logoCursos mt-0" src="{% static 'img/diseño.asistido.png' %}" height="100" alt=" logo eletricidad"></a></td>                                
            </tr>
    </tbody>
    </table>
</aside>
        
