{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" alt="logo" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto  mt-5 me-3">
                        <li class="nav-item gx-1">
                            <a class="nav-link active Fondomenu " aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item gx-1">
                            <a class="nav-link Fondomenu " href="#">Quienes Somos</a>
                        </li>
                        <li class="nav-item dropdown gx-1">
                            <a class="nav-link dropdown-toggle Fondomenu" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Noticias
                            </a>
                            <ul class="dropdown-menu FondomenuDesplegable border-0 text-center ">
                                <li><a class="dropdown-item FondomenuItem " href="#">categoria 1</a></li>
                                <li><a class="dropdown-item FondomenuItem" href="#">categoria 2</a></li>
                                <li><a class="dropdown-item FondomenuItem" href="#">categoria 3</a></li>
                                <li><a class="dropdown-item FondomenuItem" href="#">categoria 4</a></li>
                                <li><a class="dropdown-item FondomenuItem" href="#">categoria 5</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown gx-1">
                            <a class="nav-link dropdown-toggle Fondomenu" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Ofertas Academicas
                            </a>
                            <ul class="dropdown-menu FondomenuDesplegable border-0 text-center">
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 1</a></li>
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 2</a></li>
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 3</a></li>
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 4</a></li>
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 5</a></li>
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 6</a></li>
                                <li><a class="dropdown-item FondomenuItem " href="#">curso 7</a></li>
                                <li><hr class="dropdown-divider"> </li>  
                                <li><button class="dropdown-item FondoImp"data-bs-toggle="modal" data-bs-target="#inscripcion">Inscribite!</button></li>
                            </ul>
                        </li>
                        <li class="nav-item Fondomenu">
                            <a class="nav-link" href="#contactos">Contactos</a>
                        </li>
                    </ul>


                </div>
            </div>
            <!-- Modal inscripcion -->
            <div class="modal fade" id="inscripcion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Formulario de Inscripcion</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div>
                            <iframe class=""
                                src="https://docs.google.com/forms/d/e/1FAIpQLSe0wV2EEhvdd5EzZ_Z7RiEUu_fEkpQjYTC8ZBlazNV8CTKMyQ/viewform"
                                width="480" height="500" style="border:1;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>
                </div>
            </div>
            <!--  cierra Modal inscripcion -->
            <div>
                <!-- Button trigger modal inicio secion -->
                    <img class="expandir m-1 ps-1 " src="{% static 'img/poder.png' %}" alt="ubi" height="50" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                <!-- Modal inicio secion-->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="staticBackdropLabel">Iniciar Secion</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email </label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico
                                            con nadie más.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Recuerdame!</label>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit " class="btn btn-primary botonesForm">Iniciar</button>
                                <button type="button" class="btn btn-secondary botonesForm"
                                    data-bs-dismiss="modal">Registrarme</button>
                            </div>
                        </div>
                    </div>
                    <!-- cierre modal inicio secion-->
                </div>

        </nav>
        <div>
            <hr class="mb-0">
        </div>
        <div id="carouselExampleIndicators" class="carousel slide mt-0 pt-0" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>
    <main>
        <section>
            {% block contenido %}
            {% endblock %}
        </section>
        <aside>
            <div class="row ">
                <div class="text-center pt-2 pb-2">
                    <a href=""> <img class="logoCursos mt-0 " src="{% static 'img/albañil.png' %}" height="100" 
                            alt=" logo eletricidad"></a>
                    <a href=""> <img class="logoCursos mt-0 " src="{% static 'img/ayud.topografo.png' %}" height="100"
                            alt=" logo eletricidad"></a>
                    <a href=""> <img class="logoCursos mt-0 " src="{% static 'img/computacion.png' %}" height="100"
                            alt=" logo eletricidad"></a>
                    <a href=""> <img class="logoCursos mt-0 " src="{% static 'img/electricista.png' %}" height="100"
                            alt=" logo eletricidad"></a>
                    <a href=""> <img class="logoCursos mt-0 " src="{% static 'img/sanitarista.png' %}" height="100"
                            alt=" logo eletricidad"></a>
                    <a href=""> <img class="logoCursos mt-0 " src="{% static 'img/soldador.png' %}" height="100"
                            alt=" logo eletricidad"></a>
                    <a href=""> <img class="logoCursos mt-0" src="{% static 'img/diseño.asistido.png' %}" height="100"
                            alt=" logo eletricidad"></a>
                </div>

            </div>
        </aside>
    </main>
    <footer>
        <hr class="mb-0">
        <div class="container-fluid mt-0 Fondofooter">
            <div class="row  pt-4 pb-4 mt-0">
                <div class="col-1"></div>
                <div class="col-3 pt-4 text-center">
                    <button style="background-color: transparent; border: 0;" data-bs-toggle="modal"
                        data-bs-target="#mapagoogle">
                        <img class="expandir m-1 ps-1" src="{% static 'img/ubicacion.png' %}" alt="ubi" height="70">
                    </button>
                    <!--modal ubicacion-->
                    <div class="modal fade" id="mapagoogle" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>UBICACION</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>

                                </div>
                                <div>
                                    <iframe class=""
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405.8951890513648!2d-58.99853829056465!3d-27.4364138816142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xced6826508366bbd!2sEFP4%20ESCUELA%20DE%20FORMACI%C3%93N%20PROFESIONAL%20N%C2%B0%204!5e0!3m2!1ses-419!2sar!4v1659194873328!5m2!1ses-419!2sar"
                                        width="480" height="500" style="border:1;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- cierre modal ubicacion-->
                    <p class="fs-4 mb-0"> Av. Coronel Falcón 196</p>
                    <p class="fs-4 mt-0"> Resistencia, Chaco </p>
                </div>
                <div class="col-4 text-center expandir mt-2 me-5 "><img src="{% static 'img/logo footer.png' %}"
                        alt="logo" height="210">
                </div>
                <div class="col-3  justify-content-around pt-3" id="contactos">
                    <p class="fs-4 "><a href="https://www.facebook.com/uepuocra" target="_blank">
                            <img class="expandir " hspace="15" src="{% static 'img/facebook.png' %}" alt="face"
                                height="50">
                        </a> uepuocra
                    </p>
                    <p class="fs-4 "><a href="https://www.instagram.com/uegp149uocra/" target="_blank">
                            <img class="expandir" hspace="15" src="{% static 'img/instagram.png' %}" alt="inst"
                                height="50">
                        </a> uegp149uocra
                    </p>
                    <p class="fs-4 "><img class="expandir" hspace="15" src="{% static 'img/email.png' %}" alt="nolog"
                            height="50">
                        uep149@hotmail.com
                    </p>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>