
{% include 'documento/cabezera.html' %}
{% include 'documento/barra_lateral.html' %}

{% load static %}
<section style="margin-right:7%" >
    <a href="#" class="volver" style="position:sticky; bottom: 10%; margin-left: 98% ; margin-top: 50% ;"><img src="{% static 'img/flecha.png' %}" alt=""></a>   
<h4 class="tituloppal mt-5  pe-3">BIENVENIDOS </h4>
<h4 style="color:#0b5184" class=" mt-4">|Escuela de Oficios de la Fundación Uocra Seccional Chaco |</h4>
    <div class="conteiner-fluid">
        <div class="d-flex justify-content-around mt-4 mb-5">
            {% for not in noticia %}
            <div class="card  sombra m-3" style="width: 25rem; ; ">
                <img src=media/{{not.imagenes}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title" style="color:rgb(114, 111, 111)">
                        {{not.fecha.day}}/{{not.fecha.month}}/{{not.fecha.year}}</h6>
                    <h5 class="card-title">{{not.titulo.capitalize}}</h5>
                    <p class="card-text">{{not.introduccion}}</p>
                    <a href="{% url 'apps.noticia:noticia' not.id %}" class="btn btn-primary botonesForm ">Seguir Leyendo</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div >
    <div id="quienesSomos">
        <h4 class="tituloppal  mt-3  pe-3">QUIENES
            SOMOS </h4>
        <br>
        <h4 style="background:#cfe1eef3 ;color:#0b5184; text-align: center;border-radius: 0 6px 6px 0;" class=" mt-1 pb-1 ">| UEPGP N° 149
            “Fundación UOCRA” |</h4>
            <div class="contenedor2">
        <figure>
            <img src="{% static 'img/5.jpg' %}" alt="quienes somos" >
            <div class="capa">
                <h4  >MISION VISION</h4>
                <p >Habitamos el futuro del trabajo y aquí los procesos
                    formativos son
                    permanentes a lo
                    largo de la vida de las personas; proporcionan capacidades, conocimientos, valores
                    y habilidades apuntando a la inclusión social, el desarrollo social y económico a
                    todos. Educar hoy implica democratizar el acceso a la tecnología en la formación
                    virtual y promover la adquisición y actualización de competencias digitales para los
                    trabajadores en general.
                    Estos cursos intentan promover en forma diversificada la capacitación profesional de
                    oficios que tengan que ver con la construcción y con la nueva tecnología existente.
                    Además son capacitaciones únicas debido a sus características como el cupo
                    limitado, que acceden a ellas de manera gratuita y exclusiva, y que al finalizar
                    contarán inmediatamente con la herramientas para ingresar al mercado laboral de
                    manera formal. Atententos a este compromiso, tenemos la responsabilidad de lograr
                    el perfil de competencia y capacidad que requieren los nuevos desafíos que surgen
                    de los nuevos tiempos.</p>

            </div>
        </figure>
    </div>
        <div style="text-align: center; background:#cfe1eef3; border-radius: 0 10px 10px 0;" class="mt-3 pt-3">
            <h4 style="color: #0b5184 ;">INTEGRANTES</h4>
            <div style="display: inline-block ;">
                <ul style="text-align:start ;">
                    <li> Benítez, María Évelin (Directora) </li>
                    <li> Benitez, Raquel Valeria </li>
                    <li> González, Eusebio Gustavo </li>
                    <li> Perrone, Orlando Pablo</li>
                </ul>
            </div>
            <div style="display: inline-block ;">
                <ul>
                    <li> Durand, Miguel Víctor</li>
                    <li> Romero, José Raúl </li>
                    <li> Bolaño, Cristian Antonio</li>
                    <li> Acosta, Ignacio Valentin</li>
                </ul>
            </div>
            <div style="display: inline-block ; ">
                <ul>
                    <li> Freschi, Roberto Felix</li>
                    <li> Obregon, Mayra</li>
                    <li> Zalazar, María Eva</li>
                </ul>
            </div>

        </div>       
    </div>
   
</section>
    {% include 'documento/pie_de_pagina.html' %}