{% load static%}



<!---lista de  comentarios --->


<div class="row justify-content-md-center  ms-3 mt-1 ">
  {% for item in comentarios %}
<div class="d-flex justify-content-center ps-0 mt-2">
  <div class="col-12 comentario">
    <h6 class="mb-1" style="color:#0b5184 ;">{{ item.usuario.usuario.capitalize }}</h6> <h6 class="card-title" style="color:rgba(114, 111, 111, 0.311);size: 5px;">
      {{noticia.fecha.day}}/{{noticia.fecha.month}}/{{noticia.fecha.year}}</h6>
    <p class="mb-1 text-break opacity-65" style=" color: rgb(138, 137, 137);">{{ item.comentario }}</p>
  </div>

</div>
{% endfor %}