<aside>
    <div id="aside" class="contenedor  ">
        {% for cur in cursos %}
        <div id= '{{cur.nombre}}' class="div-logo">                   
            <div id='{{cur.id}}' name="cursosVarios" class="d-none">
                <h6 class="pe-3">{{cur}}</h6>
            </div>
            <a href="{% url 'apps.curso:curso' cur %}"><img class="logoCursos mt-0 desvanecer" name="imagenBarra" src="{{cur.logo.url}}" height="100"
                    alt=" logo albañil"></a>
        </div>
        {% endfor %}
    </div>
</aside>